<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuether.retroarcadehighscores">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ms_pac_man"
        android:label="Retro Arcade"
        android:roundIcon="@drawable/ic_ms_pac_man"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetroArcadeHighscores">
        <activity
            android:name="com.kuether.retroarcadehighscores.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>